{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<div class="auth-container">

    <h1>Вход</h1>

    <form method="post" class="auth-form">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">
            Войти
        </button>
    </form>

    <p>
        Нет аккаунта?
        <a href="{% url 'register' %}">
            Зарегистрироваться
        </a>
    </p>

</div>

</body>
</html>